@using WildWestBankApp.Models

@model Transaction

@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer money</h2>

<div>
    @using(Html.BeginForm()) {
        @Html.Hidden("ID", @Model.ID)
        <select id="Type" name="Type" style="visibility:hidden;">
            <option value="Transfer"></option>
        </select>
        <fieldset>
            @Html.Label("FromAccountID", "From Account (ID):")
            @Html.TextBox("FromAccountID", "")
            @Html.ValidationMessage("FromAccountID")<br />
            @Html.Label("ToAccountID", "To Account (ID):")
            @Html.TextBox("ToAccountID", "")
            @Html.ValidationMessage("ToAccountID")<br />
            @Html.Label("Amount:")
            @Html.TextBox("Amount", "")
            @Html.ValidationMessage("Amount")<br />
        </fieldset>
        <input type="submit" value="Commit the transaction" />
    }
    <div class="transactionResult">
        @ViewBag.TransactionResult
    </div>
</div> 

<p>@Html.ActionLink("Return to transaction selection page", "index", "transaction")</p>