@model IEnumerable<WildWestBankApp.Models.Customer>

@using WildWestBankApp.Models

@{
    ViewBag.Title = "Customers";
}

<h2>Customers of The Wild West Bank</h2>

<div>
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
        </tr>
        @foreach (var customer in Model) {
            <tr>
                <td align="center">@customer.ID</td>
                <td>@Html.ActionLink(@customer.Name, "accounts", "main", new { @id = @customer.ID }, null)</td>
                <td>@customer.Address</td>
                <td>@customer.BirthDay.ToString().Substring(0, 10)</td>
            </tr>
        }
    </table>
</div>
<div>
    <h3>Add a new customer</h3>
    @using(Html.BeginForm()) {
        var ID = ((List<Customer>)Model)[Model.Count() - 1].ID + 1;       
        @Html.Hidden("ID", ID)
        <table>
            <tr>
                <td>@Html.Label("Name"):</td>
                <td>@Html.TextBox("Name")</td>
            </tr>
            <tr>
                <td>@Html.Label("Address"):</td>
                <td>@Html.TextBox("Address")</td>
            </tr>
            <tr>
                <td>@Html.Label("BirthDay"):</td>
                <td><input type="date" id="BirthDay" name="BirthDay"></td>
            </tr>
        </table>
        <input type="submit" value="Add the customer" />
    }
</div>